export ADDR=":8080"
export DB_ADDR=postgres://admin:adminpassword@localhost/social?sslmode=disable
export DB_MIGRATOR_ADDR=postgres://admin:adminpassword@localhost/social?sslmode=disable
export SENDGRID_API_KEY=""
export MAILTRAP_API_KEY=508ee87a2cdded9d5adb71ae7c4de95a
export AUTH_BASIC_USER=admin
export AUTH_BASIC_PASS=password
export AUTH_TOKEN_SECRET=wlady3190